/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #0b0e14; /* Ustawiamy czarne tło dla całej strony */
  overflow: hidden;         /* Zapobiega pojawianiu się pasków przewijania */
}